@charset "UTF-8";

body {
	background-color: #b3b3b3;
}

#header {
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	height:100px;
	width: 100%;
	position: fixed;
	background-color: #e3e3e3;
	align-items: center;
}

#title{
	flex-grow: 1;
	margin-left: 30px;
}

#space {
	height: 150px;
}

#tbl {
	display: grid;
	place-content: center;
	gap: 1px;
	grid-template-columns: repeat(7, auto);
	width: 25%;
	margin: 0 auto;
}

#col_btn {
	padding-left: 2px;
	border: none;
	background-color: #b3b3b3;
}

.col {
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid;
	border-style: inset;
	width: 61px;
	height: 61px;
	align-items: center;
	background-color: #cfcfcf;
}

#piece {
	font-size: 40px;
}

#white{
	color: white;
}

#black{
	color: black;
}

#blank{
	color: #cfcfcf;
}

button {
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #7a7a7a;
	width: 61px;
	height: 61px;
	transition: 0.3s;
	font-size: 15px;
}

button:hover {
	opacity: 0.6;
}

#msg{
	display: flex;
	justify-content: center;
	margin: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 25px;
}

#msg_bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 35%;
	height: 40px;
	background-color: #cfcfcf;
	border-radius: 10px;
}

#init{
	padding-right: 30px;
}